
body{
    background-color:lightgrey;
}
h1{
 color: white;
 text-align: center;
 width: 100%;
}
h4{
    text-align: center;

}
container{
   margin: 20px 4px;
   width:fit-content;
}
div{
    padding:5px 10px 5px;
    width:20%;
    background-color: white;
    margin: 80px 15px 20px 20px;
    border-radius: 4%;
    text-align: justify;
    float:left;
}
img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.box {
    width: 20%;
    float: left;
    margin: 20px 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    }
    a{
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        background-color: red;
        text-decoration: none;
        padding: 10px;
        border-radius: 8px;
    }
    .box a:hover {
        background-color: blue;
      }
    p{
        margin: 10px;
        font-size: 15px;
        text-align: justify;
        line-height: 25px;
    }