
body{
    background-color:lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
 color: white;
 text-align: center;
 width: 100%;
}
h4{
    text-align: center;

}
container{
   margin: 20px 4px;
   width:100%;
}
img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.box {
    width: 20%;
    float: left;
    margin: 20px 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    }
    a{
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        background-color: red;
        text-decoration: none;
        padding: 10px;
        border-radius: 8px;
    }
    .box a:hover {
        background-color: blue;
      }
    p{
        margin: 10px;
        font-size: 15px;
        text-align: justify;
        line-height: 25px;
    }